.page-title
{
    text-align: center;
}
.avatr-img
{
    width: 110px;
    height: auto;
    border-radius: 50%;
}
input[type=&quot;checkbox&quot;]:checked + label::before {
    content: &quot;\2713&quot;;
    background-color: yellowgreen;
}
input[type=&quot;checkbox&quot;]:focus + label::before {
    box-shadow: 0 0 .1em .1em #58a;
}
input[type=&quot;checkbox&quot;]:disabled + label::before {
    background-color: gray;
    box-shadow: none;
    color: #555;
}